<div class="container" id="contacts">
    <ul id="contact-list" class="bg-dark">

        {{#each contacts as |contact| }}
        <li class="bg-info text-light">
                <img src="{{contact.slika}}" alt="" class="text-profile">
                <h5>{{contact.ime}}</h5>
        </li>
        {{/each}}
    </ul>
</div>

<div class="container bg-dark" id="chatbox">
    <div class="container-fluid bg-info" id="contact-name">
        <a href="/profil/ogled" style="text-decoration: none;">
            <h2 class="text-light">{{contactChosen.sporocila.1.ime}}</h2>
        </a>
    </div>

    <div class="container-fluid" id="messages">

        <div class="message-recieved">
            {{#each contactChosen.sporocila}}
            
            <div class="message-wrap container-fluid">
                <div class="sender-profile">
                    <img src="{{this.slika}}" alt="" class="text-profile">
                    <h6>{{this.ime}}</h6>
                </div>

                <span>
                    <p>
                       {{this.besedilo}}
                    </p>
                </span>
                <div class="timestamp">
                    {{this.cas}}
                </div>
            </div>
            {{/each}}
        </div>

        <div class="message-recieved">
            {{#each mojaSporocila as |mojeSporocilo|}}
            <div class="message-wrap container-fluid">
                <div class="sender-profile">
                    <img src="{{mojeSporocilo.slika}}" alt="" class="text-profile">
                    <h6>{{mojeSporocilo.ime}}</h6>
                </div>

                <span>
                    <p>
                       {{mojeSporocilo.besedilo}}
                    </p>
                </span>
                <div class="timestamp">
                    {{mojeSporocilo.cas}}
                </div>
            </div>
            {{/each}}
        </div>

    <div class="container-fluid" id="input-bar">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-info" type="button" style="border-radius: 0;">
                    <i class="fas fa-paperclip"></i>
                </button>
            </div>
            <input type="text" class="form-control" placeholder="Napišite sporočilo..." aria-label=""
                aria-describedby="basic-addon1" name="besedilo">
            <div class="input-group-append">
                <button class="btn btn-info" type="button" style="border-radius: 0;">Pošlji</button>
            </div>
        </div>
    </div>
</div>

<div class="container bg-dark" id="files">
    <div class="container-fluid text-light" style="padding: 0.5rem;">
        <h2 style="margin-bottom: 0;">Deljene datoteke</h2>
    </div>
    <ul id="file-list">
    {{#each contactChosen.datoteke}}
        <li class="bg-info text-light">
            <a href="#">{{this.imeDatoteke}} <i class="fas fa-download"></i></a>
        </li>
    {{/each}}
       

    </ul>
</div>