    
<div class="container" id="contacts">
    <ul id="contact-list" class="bg-dark">

        {{#each contacts as |contact| }}
        <li class="bg-info text-light">
                <img src="{{contact.slika}}" alt="" class="text-profile">
                <h5>{{contact.ime}}</h5>
        </li>
        {{/each}}
    </ul>
</div>

<div class="container bg-dark" id="chatbox">
    <div class="container-fluid bg-info" id="contact-name">
        <a href="/profil/ogled" style="text-decoration: none;">
            <h5 class="text-light" style="text-align: center;">{{contactChosen.sporocila.1.ime}}</h5>
        </a>
    </div>
    <div class="container-fluid" id="messages" style="height: 60vh;">

        <div class="message-recieved">
            {{!-- c e  z  o s e b o  s e  n i m a s  p o g o v o r a --}}
            {{#if nimasPogovora}}
                <div class="message-wrap container-fluid">
                    <h6>{{nimasPogovora}}</h6>
                </div>
            {{else}}
            {{!-- c e  z e  i m a s --}}    

            {{#each sortedSporocilaa as |mojeSporocilo|}}
            <div class="message-wrap container-fluid">

                {{!-- <h8 style="font-size: 0.8rem; color: rgb(192, 192, 192); margin-bottom: 0rem; margin-left: 1.1rem;">{{../pridobljenoIme}}</h8> --}}
                <span>
                    <p class="posameznoSporocilo" style="font-size: 1rem; margin-top: 0; margin-bottom: 0.4rem; padding-left: 1rem; padding-top: 0.5rem; padding-bottom: 0.5rem; border-radius: 30px; color: white; background-color: #18a2b8; box-shadow: 1px 3px 3px #7b7b7b">
                       {{mojeSporocilo.besedilo}}
                    </p>
                </span>
                <div class="timestamp" style="margin-top: 0rem; font-size: 0.7rem;">
                    {{mojeSporocilo.cas}}
                </div>
            </div>
            {{/each}}
       
            {{/if}}
        </div>


    <form action="" method="post" role="form" style="width: 100%;">
        <div class="container-fluid" id="input-bar">
            <div class="input-group">
                    <input type="text" class="form-control" placeholder="Napišite sporočilo..." autocomplete="off" aria-label=""
                        aria-describedby="basic-addon1" name="besedilo">
                <div class="input-group-append">
                    <button class="btn btn-info" type="button" style="border-radius: 0; background-color: white; width: 3rem; border-color: #ced4da; ">
                        <i class="fas fa-paperclip" style="color: #6d757d; " ></i>
                    </button>
                    <button type="submit" class="btn btn-info" type="button" style="border-radius: 0;">Pošlji</button>

                </div>
            </div>
        </div>
    </form>
</div>


       

</div>