<body>
    <div id="moja-opravila">
        <h1 class="container text-light bg-dark">Moja opravila</h1>
        <table class="table table-primary table-hover container" id="todo-list">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Datum</th>
                    <th scope="col" class="hour-column">Ura</th>
                    <th scope="col">Opravilo</th>
                    <th scope="col">Izvajalec / Delodajalec</th>
                </tr>
            </thead>
            <tbody>
                {{#each dogodki as |dogodek|}}
                <tr>
                    <th scope="row">{{dogodek.datum}}</th>
                    <th scope="row" class="hour-column">{{dogodek.ura}}</th>
                    <td><a href="/instrukcije-dogodki/dogodek">{{dogodek.naziv}}</a></td>
                    <td><a href="/profil/ogled">Ime Inštruktorja</a></td>
                </tr>
                {{/each}}
                
                {{#each dela as |delo|}}
                <tr>
                    <th scope="row">{{delo.datum}}</th>
                    <th scope="row" class="hour-column">{{delo.ura}}</th>
                    <td><a href="/instrukcije-dogodki/dogodek">{{delo.naziv}}</a></td>
                    <td><a href="/profil/ogled">Ime Inštruktorja</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    {{> carousel_getstarted}}

    {{> carousel_featured}}

</body>