<body>
    <div id="moja-opravila">
        <h1 class="container text-light bg-dark">Moja opravila</h1>
        <table class="table table-primary table-hover container" id="todo-list">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Datum</th>
                    <th scope="col" class="hour-column">Ura</th>
                    <th scope="col">Opravilo</th>
                </tr>
            </thead>
            <tbody>
                {{#each dogodki as |dogodek|}}
                <tr>
                    <th scope="row">{{pretvoriDatum dogodek.datum}}</th>
                    <th scope="row" class="hour-column">{{dogodek.ura}}</th>
                    <th>{{{generirajPovezavoZaDogodek dogodek}}}</th>
                </tr>
                {{/each}}
                
                {{#each dela as |delo|}}
                <tr>
                    <th scope="row">{{pretvoriDatum delo.datum}}</th>
                    <th scope="row" class="hour-column">{{delo.ura}}</th>
                    <th>{{{generirajPovezavoZaDelo delo}}}</th>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    {{> carousel_getstarted}}

   <div id="dashboard-featured">

        <div id="featuredInstructors" class="carousel slide featured-carousel" data-ride="carousel">
            
            <div class="carousel-inner featured-carousel-inner bg-dark">
                <h4 class="text-light">Novi inštruktorji</h4>
                <div class="carousel-item active">
                    <div class="card featured-instructor">
                        <img class="card-img-top" src="./assets/pics/instruktor2.jpg" alt="Card image cap">
                        <div class="card-body featured-card-body">
                            <h5 class="card-title">{{f1.ime}}</h5>
                            <p class="card-text">{{f1.predmeti}}</p>
                            <a href="/profil/ogled" class="btn btn-primary">Profil</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card featured-instructor">
                        <img class="card-img-top" src="./assets/pics/instruktor3.jpg" alt="Card image cap">
                        <div class="card-body featured-card-body">
                            <h5 class="card-title">{{f2.ime}}</h5>
                            <p class="card-text">{{f2.predmeti}}</p>
                            <a href="/profil/ogled" class="btn btn-primary">Profil</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card featured-instructor">
                        <img class="card-img-top" src="./assets/pics/instruktor1.jpg" alt="Card image cap">
                        <div class="card-body featured-card-body">
                            <h5 class="card-title">{{f3.ime}}</h5>
                            <p class="card-text">{{f3.predmeti}}</p>
                            <a href="/profil/ogled" class="btn btn-primary">Profil</a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev featured-controls featured-controls-prev" href="#featuredInstructors"
                    role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon featured-controls-icons" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next featured-controls featured-controls-next" href="#featuredInstructors"
                    role="button" data-slide="next">
                    <span class="carousel-control-next-icon featured-controls-icons" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div id="featuredEvents" class="carousel slide featured-carousel" data-ride="carousel">
            <div class="carousel-inner featured-carousel-inner bg-dark">
                <h4 class="text-light">Prihajajoči dogodki</h4>
                <div class="carousel-item active">
                    <div class="card featured-instructor">
                        <img class="card-img-top" src="./assets/pics/mat.jpg" alt="Card image cap">
                        <div class="card-body featured-card-body">
                            <h5 class="card-title">{{f4.ime}}</h5>
                            <p class="card-text">{{f4.predmeti}}</p>
                            <a href="/profil/ogled" class="btn btn-primary">Ogled</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card featured-instructor">
                        <img class="card-img-top" src="./assets/pics/fiz.jpg" alt="Card image cap">
                        <div class="card-body featured-card-body">
                            <h5 class="card-title">{{f5.ime}}</h5>
                            <p class="card-text">{{f5.predmeti}}</p>
                            <a href="/profil/ogled" class="btn btn-primary">Ogled</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card featured-instructor">
                        <img class="card-img-top" src="./assets/pics/prog.jpg" alt="Card image cap">
                        <div class="card-body featured-card-body">
                            <h5 class="card-title">{{f6.ime}}</h5>
                            <p class="card-text">{{f6.predmeti}}</p>
                            <a href="/profil/ogled" class="btn btn-primary">Ogled</a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev featured-controls featured-controls-prev" href="#featuredEvents"
                    role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon featured-controls-icons" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next featured-controls featured-controls-next" href="#featuredEvents"
                    role="button" data-slide="next">
                    <span class="carousel-control-next-icon featured-controls-icons" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>


        <div id="featuredJobs" class="carousel slide featured-carousel" data-ride="carousel">
            <div class="carousel-inner featured-carousel-inner bg-dark">
                <h4 class="text-light">Promovirane ponudbe</h4>
                <div class="carousel-item active">
                    <div class="card featured-instructor">
                        <img class="card-img-top" src="./assets/pics/prog.jpg" alt="Card image cap">
                        <div class="card-body featured-card-body">
                            <h5 class="card-title">Program v Javi</h5>
                            <p class="card-text">Petek, 5€</p>
                            <a href="/profil/ogled" class="btn btn-primary">Ogled</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card featured-instructor">
                        <img class="card-img-top" src="./assets/pics/slo.jpg" alt="Card image cap">
                        <div class="card-body featured-card-body">
                            <h5 class="card-title">Esej</h5>
                            <p class="card-text">Ponedeljek, 45€</p>
                            <a href="/profil/ogled" class="btn btn-primary">Ogled</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card featured-instructor">
                        <img class="card-img-top" src="./assets/pics/oblikovanje.png" alt="Card image cap">
                        <div class="card-body featured-card-body">
                            <h5 class="card-title">Autocad tloris hiše</h5>
                            <p class="card-text">19. 11. 2020, 200€</p>
                            <a href="/profil/ogled" class="btn btn-primary">Ogled</a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev featured-controls featured-controls-prev" href="#featuredJobs"
                    role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon featured-controls-icons" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next featured-controls featured-controls-next" href="#featuredJobs"
                    role="button" data-slide="next">
                    <span class="carousel-control-next-icon featured-controls-icons" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </div>

<script>
    function pojdi(objekt) {
        window.location = "/instrukcije-dogodki/dogodek/" + objekt._id
    }
</script>

</body>