<body>
  <div class="return container-fluid" style="margin-top: 1rem;">
    <a href="/ponudba-del" class="btn btn-info">Nazaj na ponudbo del</a>
  </div>

  <div class="card event">
    <img class="card-img-top event-header" src="/assets/pics/oblikovanje.png" alt="Card image cap">
    <div class="card-body event-body">
      <h5 class="card-title">{{naziv}}</h5>
      <hr>
      <p class="card-text">{{opis}}</p>
      <hr>
      <h6>Delo bom opravil za:</h6>
      <input type="text" class="offer">
      <p>Maksimalno <span id="offer">{{cena}}</span>€</p>
      <hr>
      <h6>Delo bom opravil do:</h6>
      <input type="date" class="due-date">
      <p>Najkasneje do <span id="due-date">{{datum}}</span></p>
      <hr>
      <h6>Pošlji ponudbo in se prijavi na delo</h6>
      <a href="/ponudba-del/delo" class="btn btn-success">Prijava</a>
    </div>
  </div>

  <div class="card profile">

    <div class="card-body profile-body">
      <img class="profile-thumbnail profile-body-item" src="/assets/pics/instruktor1.jpg" alt="Card image cap">
      <a href="/profil/ogled">
        <h3 class="profile-body-item">{{ponudnik.ime}} {{ponudnik.priimek}}</h3>
      </a>
      <hr>
      <h4>Opis uporabnika</h4>
      <p>{{ponudnik.opis}}</p>
      <hr>
      <div id="star-rating">
        <h4>Ocena uporabnika:</h4>
        {{{zvezdice ponudnik.ocena}}}
      </div>
    </div>
  </div>

  {{> carousel}}
</body>