<body>
  <div class="return container-fluid" style="margin-top: 1rem;">
    <a href="/ponudba-del" class="btn btn-info">Nazaj na ponudbo del</a>

    {{#if admin}}
    <button class="btn btn-warning d-ilblock" id="edit-btn" onclick="return uredi()"><i
        class="fas fa-edit"></i></button>
    <button id="save-btn" value="save" class="btn btn-success d-none"><i class="fas fa-check"></i></button>
    <button class="btn btn-danger d-inline" id="delete-btn"><i class="fas fa-trash-alt"></i></button>
    {{/if}}
  </div>

  <div class="card event">
    <img class="card-img-top event-header" src="../../assets/thumbnails/red.png" alt="Card image cap">
    <div class="card-body event-body">
      <h5 class="card-title" id="naziv">{{naziv}}</h5>
      <hr>
      <p class="card-text" id="opis">{{opis}}</p>
      <hr>
      <h6>Plačilo</h6>
      <p>
        <scope id="cena">{{cena}}</scope>
        <scope id="eur">€</scope>
      </p>
      <hr>
      <h6>Datum</h6>
      <p id="datum">{{pretvoriDatum datum}}</p>

      {{#if admin}}
      {{else if prijavljen}}
      <hr>
      <h6>Prijavi se na delo</h6>
      <button type="button" class="btn btn-success" disabled>Na delo ste prijavljeni</button>
      {{else if zasedeno}}
      <hr>
      <h6>Prijavi se na delo</h6>
      <button type="button" class="btn btn-success" disabled>Delo je že zasedeno</button>
      {{else}}
      <hr>
      <h6>Prijavi se na delo</h6>
      <a onclick="prijavi()" class="btn btn-success">Prijava</a>
      {{/if}}

    </div>
  </div>

  <div class="card profile">

    <div class="card-body profile-body">
      <img class="profile-thumbnail profile-body-item" src="/assets/pics/profile_picture.png" alt="Card image cap">
      <a href="/profil/ogled">
        <h3 class="profile-body-item">{{ime}}</h3>
      </a>
      <hr>
      <h4>Opis ponudnika:</h4>
      <p>{{opisPonudnika}}</p>
      <hr>
      <div id="star-rating">
        <h4>Ocena ponudnika:</h4>
        {{{zvezdice ocena}}}
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      console.log("Stran je odprta");
      var deleteBtn = document.getElementById('delete-btn');
      deleteBtn.addEventListener('click', () => {
        console.log("Delete button has been clicked!")
        var asinhronaZahteva = new XMLHttpRequest();
        asinhronaZahteva.open(
          "DELETE",
          window.location.href, //current url
          true
        )
        /*
        .then((odgovor) => odgovor.json())
        .then((data) => console.log(data))
        .catch((err) => console.log(err));
        */
        asinhronaZahteva.addEventListener("load", function () {
          var jsonRezultati = JSON.parse(asinhronaZahteva.responseText);
          console.log(jsonRezultati);
        });
        window.location = "/ponudba-del";
        asinhronaZahteva.send(null);
      });
      var saveBtn = document.getElementById('save-btn');
      saveBtn.addEventListener('click', () => {
        console.log("Save button has been clicked!")
        var asinhronaZahteva = new XMLHttpRequest();
        asinhronaZahteva.open(
          "PUT",
          window.location.href, //current url
          true
        )
        /*
        .then((odgovor) => odgovor.json())
        .then((data) => console.log(data))
        .catch((err) => console.log(err));
        */
        asinhronaZahteva.addEventListener("load", function () {
          //var jsonRezultati = JSON.parse(asinhronaZahteva.responseText);
          //console.log(jsonRezultati);
        });

        //window.location = "/ponudba-del";
        asinhronaZahteva.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        asinhronaZahteva.send(JSON.stringify(shrani()));
      });
    });
    function uredi() {
      document.getElementById("edit-btn").classList.remove("d-ilblock");
      document.getElementById("edit-btn").classList.add("d-none");
      document.getElementById("save-btn").classList.remove("d-none");
      document.getElementById("save-btn").classList.add("d-ilblock");
      document.getElementById("eur").style.display = "none";
      //document.getElementById("delete-button").style.display = "block";
      var naziv = document.getElementById("naziv");
      var opis = document.getElementById("opis");
      var cena = document.getElementById("cena");
      var datum = document.getElementById("datum");
      var naziv_data = naziv.innerHTML;
      var opis_data = opis.innerHTML;
      var cena_data = cena.innerHTML;
      var datum_data = datum.innerHTML;

      naziv.innerHTML = "<input type='text' class='form-control' id='naziv_text' value='" + naziv_data + "'>";
      opis.innerHTML = "<input type='text' class='form-control' id='opis_text' value='" + opis_data + "'>";
      cena.innerHTML = "<input type='number' class='form-control' id='cena_text' min='0' value='" + cena_data + "'>";
      datum.innerHTML = "<input type='date' class='form-control' id='datum_value' value='2020-12-16'>";
    }
    function shrani() {
      var naziv_novi = document.getElementById("naziv_text").value;
      var opis_novi = document.getElementById("opis_text").value;
      var cena_novi = document.getElementById("cena_text").value;
      var datum_novi = document.getElementById("datum_value").value;

      if (naziv_novi == "" || opis_novi == "" || cena_novi == "" || datum_novi == "") {
        alert("Izpolnite vsa polja!")
        return false;
      }

      document.getElementById("naziv").innerHTML = naziv_novi;
      document.getElementById("opis").innerHTML = opis_novi;
      document.getElementById("cena").innerHTML = cena_novi;
      document.getElementById("datum").innerHTML = datum_novi;

      document.getElementById("edit-btn").classList.remove("d-none");
      document.getElementById("edit-btn").classList.add("d-ilblock");
      document.getElementById("save-btn").classList.remove("d-ilblock");
      document.getElementById("save-btn").classList.add("d-none");
      document.getElementById("eur").style.display = "inline";

      return {
        naziv: naziv_novi,
        opis: opis_novi,
        cena: cena_novi,
        datum: datum_novi,
      };
    }

    function prijavi() {
      console.log(window.location.href);
      window.location = window.location.href + "/prijava";
    }

    function odjavi() {
      console.log(window.location.href);
      window.location = window.location.href + "/odjava";
    }
  </script>

  {{> carousel_getstarted}}
</body>