<body>
  {{#if sporocilo}}
  <div class="alert alert-warning">{{sporocilo}}</div>
  {{else}}
  <div class="container">
    <h1 id="profile-naslov">{{profileDetails.ime}} {{profileDetails.priimek}}</h1>
    <hr>
    <div class="row">
      <div class="col-12 col-xl-6 col-lg-6 col-md-6 d-flex justify-content-center flex-column">

        <form>
          <div class="form-group">
            <label for="opisProfila">Opis:</label>
            <textarea class="form-control" rows="5" id="opis" readonly
              style="resize: none; width: 100%;">{{profileDetails.opis}}</textarea>
          </div>
        </form>

        {{#if profileDetails.isAdmin}}


        <button type="button" id="uredi-opis" value="edit" class="btn btn-primary" onclick="urediOpis()"
          style="width: 30%">Spremeni opis</button>
        <button type="button" id="shrani-opis" value="save" class="btn btn-danger" onclick="shraniOpis()"
          style="width: 30%; display: none">Shrani</button>
        <br>

      </div>
      <div class="col-12 col-xl-6 col-lg-6 col-md-6 d-flex justify-content-center">
        <img src="/assets/pics/profile_picture.png" alt="ProfilnaSlika" class="img-responsive"
          style="width: 200px; height: 200px;">
      </div>
    </div>

    {{else}}

  </div>
  <div class="col-12 col-xl-6 col-lg-6 col-md-6 d-flex justify-content-center">
    <img src="/assets/pics/instruktor1.jpg" alt="ProfilnaSlika" class="img-responsive"
      style="width: 200px; height:200px">
  </div>
  </div>

  {{/if}}

  <div class="row">
    <div class="table-responsive">
      <hr>
      <table class="table table-borderless" id="tabela-podatkov">
        <tbody>
          <h4 id="profile-podnaslov">Podatki:</h4>
          <tr>
            <th class="thPodatki" scope="row">Email naslov:</th>
            <td id="email">{{profileDetails.email}}</td>
          </tr>
          <tr>
            <th class="thPodatki" scope="row">Telefonska številka:</th>
            <td id="phone">{{profileDetails.telefonskaStevilka}}</td>
          </tr>
          <tr>
            <th class="thPodatki" scope="row">Ocena uporabnika:</th>
            <td>
              {{{zvezdice profileDetails.ocena}}}
            </td>
          </tr>
          <tr>
            <th class="thPodatki" scope="row">Status inštruktorja:</th>
            <td id="status">{{profileDetails.statusInstruktorja}}</td>
          </tr>
          <tr>
            <th class="thPodatki" scope="row">Datum vpisa:</th>
            <td name="kdaj">{{profileDetails.datumVpisa}}</td>
          </tr>

          <tr id="spremeni-sliko" style="display: none;">
            <th class="thPodatki" scope="row">Spremeni profilno sliko:</th>
            <td>
              <form>
                <div class="form-group">
                  <input type="file" class="form-control-file" id="profilna-slika">
                </div>
              </form>
            </td>
          </tr>
        </tbody>
      </table>

      {{#if profileDetails.isAdmin}}
      <button type="button" id="edit-button" value="edit" class="btn btn-primary" onclick="urediPodatke()">Spremeni
        podatke</button>
      <button type="button" id="save-button" value="save" class="btn btn-danger" onclick="shraniPodatke()" style="display: none;">
        Shrani</button>
      {{/if}}

      <hr>
      <h4 id="profile-podnaslov">Dodatno:</h4>
    </div>
  </div>
  {{#if profileDetails.isAdmin}}
  <div class="tab pb-5">
    <button class="tablinks" onclick="openCity(event, 'kronologija')">Moje Objave</button>
    <button class="tablinks" onclick="openCity(event, 'obvestila')">Obvestila<span class="znacka">1</span></button>
    <button class="tablinks" onclick="openCity(event, 'moja-ocena')">Moja ocena</button>
    <button class="tablinks" onclick="openCity(event, 'spremeni-geslo')">Spremeni geslo</button>
  </div>

  <div id="kronologija" class="tabcontent">
    <div class="col d-flex justify-content-center">
      <table class="table">
        <thead>
          <tr class="trTabelaKrono">
            <th scope="col">#</th>
            <th scope="col">Projekt</th>
            <th scope="col">Datum</th>
            <th scope="col">Uredi</th>
          </tr>
        </thead>
        {{#each profileDetails.dogodki as |dogodek|}}
        <tbody>
          <tr>
            <th scope="row">{{inc @index}}</th>
            <td>{{dogodek.naziv}}</td>
            <td name="kdaj">{{dogodek.datum}}</td>
            <td><a href="/ponudba-del/delo/uredi"><i class="fas fa-edit"></i></a>
              <a href="#"><i class="far fa-trash-alt"></i></a></td> {{!--izbrisi direkt--}}
          </tr>
        </tbody>
        {{/each}}
      </table>
    </div>
  </div>


  <div id="obvestila" class="tabcontent">
    <div class="col d-flex justify-content-center">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nedavna obvestila</th>
            <th scope="col">Datum</th>
          </tr>
        </thead>
        {{#each profileDetails.dela as |delo|}}
        <tbody>
          <tr class="table-danger">
            <th scope="row">{{inc @index}}</th>
            <td><a href="#">{{delo.naziv}}</a>
            </td>
            <td name="kdaj">{{delo.datum}}</td>
          </tr>
        </tbody>
        {{/each}}
      </table>
    </div>
  </div>

  <div id="moja-ocena" class="tabcontent">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <p style="margin: 0;">Moja ocena:</p>
        {{{zvezdice profileDetails.ocena}}}
      </div>
    </div>
  </div>

  <div id="spremeni-geslo" class="tabcontent">
    <div class="col d-flex justify-content-center">
      <form>
        <p><b>Spremeni geslo:</b><br><i><small>Vpišite novo geslo, ki naj bo dolgo vsaj 8 znakov!</small></i></p>
        <div class="form-group">
          <label for="name">Novo geslo:</label>
          <input type="password" id="passwordReset"><br>
          <label for="surname">Potrdi novo geslo: </label>
          <input type="password" id="passwordResetConfirm">
        </div>
        <button class="btn btn-danger" id="resetPassword" type="submit" onclick="novoGeslo()">Potrdi</button>
      </form>
    </div>
  </div>

  {{else}}
  <div class="tab pb-5">
    <button class="tablinks" onclick="openCity(event, 'kontakt')">Kontakt</button>
    <button class="tablinks" onclick="openCity(event, 'moja-dela')">Moja dela</button>
    <button class="tablinks" onclick="openCity(event, 'moje-instrukcije')">Moje inštrukcije</button>
    <button class="tablinks" onclick="openCity(event, 'oceni-me')">Oceni me!</button>
  </div>


  <div id="kontakt" class="tabcontent">
    <p><b>Kontaktiraj me preko:</b></p>
    <ul class="list-unstyled">
      <li class="d-inline">
        <a class="fa fa-comment" href="./sporocanje" target="_blank" id="moznostiKontakta"> Privatnega sporočila</a>
      </li>
    </ul>
  </div>

  <div id="moja-dela" class="tabcontent">
    <div class="col d-flex justify-content-center">
      <table class="table">
        <thead>
          <tr class="trTabelaKrono">
            <th scope="col">#</th>
            <th scope="col">Delo</th>
            <th scope="col">Datum</th>
          </tr>
        </thead>
        {{#each profileDetails.dela as |delo|}}
        <tbody>
          <tr>
            <th scope="row">{{inc @index}}</th>
            <td>{{delo.naziv}}</td>
            <td name="kdaj">{{delo.datum}}</td>
          </tr>
        </tbody>
        {{/each}}
      </table>
    </div>
  </div>

  <div id="moje-instrukcije" class="tabcontent">
    <div class="col d-flex justify-content-center">
      <table class="table">
        <thead>
          <tr class="trTabelaKrono">
            <th scope="col">#</th>
            <th scope="col">Inštrukcije</th>
            <th scope="col">Ura</th>
            <th scope="col">Datum</th>
          </tr>
        </thead>
        {{#each profileDetails.dogodki as |dogodek|}}
        <tbody>
          <tr>
            <th scope="row">{{inc @index}}</th>
            <td>{{dogodek.naziv}}</td>
            <td>{{dogodek.ura}}</td>
            <td name ="kdaj">{{dogodek.datum}}</td>
          </tr>
        </tbody>
        {{/each}}
      </table>
    </div>
  </div>

  <div id="oceni-me" class="tabcontent">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <table>
          <tr>
            <th class="thPodatki" scope="row">Dodaj oceno:</th>
            <td>
              <select id="ocena" name="ocena" class="form-control" style="margin-bottom: 0; margin-left: 10px;">
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
              </select>
            </td>
            <td><button id="add-button" class="btn btn-success" style="margin-left: 20px;" onclick="shraniOceno()">Potrdi</button></td>
          <br><br><br>
          </tr>
        </table>
      </div>
    </div>
  </div>
  {{/if}}
  </div>
  {{/if}}

 
  <script>

    var d = new Date();
    var listOfEl = document.getElementsByName("kdaj")
    .forEach(element => element.innerHTML = d.getDate() + "/" + d.getMonth() + "/" + d.getFullYear());

    function shraniOceno(){
      document.getElementById("add-button").style.display = "block";
      var dodana = document.getElementById("ocena").innerHTML.value;
      document.getElementById("ocena").innerHTML = dodana;
      document.getElementById("add-button").style.display = "none";
    }

    function novoGeslo() {
      var password1 = document.getElementById("passwordReset");
      var password2 = document.getElementById("passwordResetConfirm");

      if (password1.value != password2.value) {
        alert("Gesli se ne ujemata!")
        return false;
      } else if (password1.value.length < 8) {
        alert("Geslo mora biti dolgo vsaj 8 znakov!")
        return false;
      } else {
        alert("Geslo je bilo uspešno spremenjeno!")
        return true;
      }
    }

    function urediOpis() {
      document.getElementById("uredi-opis").style.display = "none";
      document.getElementById("shrani-opis").style.display = "block";
      document.getElementById("opis").removeAttribute("readonly");

    }
    function shraniOpis() {
      document.getElementById("uredi-opis").style.display = "block";
      document.getElementById("shrani-opis").style.display = "none";
      document.getElementById("opis").setAttribute("readonly", true);

    }

    function urediPodatke() {
      document.getElementById("edit-button").style.display = "none";
      document.getElementById("save-button").style.display = "block";
      document.getElementById("spremeni-sliko").style.display = "block";

      var email = document.getElementById("email");
      var phone = document.getElementById("phone");
      var status = document.getElementById("status");

      var email_data = email.innerHTML;
      var phone_data = phone.innerHTML;
      var status_data = status.innerHTML;

      email.innerHTML = "<input type='text' class='form-control' id='email_text' value='" + email_data + "'>";
      phone.innerHTML = "<input type='text' class='form-control' id='phone_text' value='" + phone_data + "'>";
      if (status_data == "Neaktiven") {
        status.innerHTML = "<input type='checkbox' class='form-check-input' id='statusInstruktorja'><label class='form-check-label' for='status-instruktorja'>Aktiviraj status inštruktorja</label>";
      } else {
        status.innerHTML = "<input type='checkbox' class='form-check-input' id='statusInstruktorja' checked><label class='form-check-label' for='status-instruktorja'>Aktiviraj status inštruktorja</label>";
      }
    }
  
    function shraniPodatke() {
      var email_novi = document.getElementById("email_text").value;
      var phone_novi = document.getElementById("phone_text").value;

      if (statusInstruktorja.checked == true) {
        document.getElementById("status").innerHTML = "Aktiven";
      } else {
        document.getElementById("status").innerHTML = "Neaktiven";
      }

      document.getElementById("email").innerHTML = email_novi;
      document.getElementById("phone").innerHTML = phone_novi;

      document.getElementById("edit-button").style.display = "block";
      document.getElementById("save-button").style.display = "none";
      document.getElementById("spremeni-sliko").style.display = "none";
    }

    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
  </script>

     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
    <script src="../controllers/profile.js" type="text/javascript"></script>

  <script>
    $(window).scroll(function () {
      $('nav').toggleClass('scrolled', $(this).scrollTop() > 50);
    });
  </script>

</body>

</html>